*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --ff-primary: "Source Sans Pro",sans-serif;
    --ff-secondary:"Source Code Pro", monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em  0.125em 0.25em rgba(0,0,0,.25);
}
@media (min-width: 800px) {
  :root{
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.12rem;
  }
}
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section{
    padding: 300  200
}
img{
    display: block;
    max-width: 100%;
}
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms 
}
.btn:hover{
    transform: scale(1.1);
}
h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
    align-text: right;
}
h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section_title{
margin-bottom: .25em;
}
.section__subtitle{
 margin: 0;
 font-size: var(--fs-h3);
}
.section__title--intro{
    font-weight: var(--var-reg);
}
strong{
    font-weight: var(--fw-bold);
}
.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
}
.section__subtitle--intro strong{
    display: block;
}

.intro{
    position:relative;
}
@media(min-width: 600px){
    .intro{
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas:
        "img title"
        "img subtitle"
        grid-template-columns: min-content max-content;
        
    }


.intro__img{
    grid-area: img;
    min-width: 250px;
    border-radius: 75%;
    position: relative;
    z-index: 2;
    
}
}
.section__subtitle--intro{
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
}


*{box-sizing:border-box;}
.container{
    width:100%;
    background-color: grey;

}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
   background-color: white;
}
.html{
    width: 90%;
   background-color: green;

}
.css{
    width: 60%;
    background-color: green;

}
.js{
    width: 50%;
 background-color: green;

}
.java{
    width: 60%;
    background-color: green;
}


.programmingLanguages{
    border: 3px double ;
    align-text: center;
    position: relative;
    width: 50%;
    height: 500px;

}
.language{
border: 3px double;
align-text: left;
left: 800px;
width: 50%;
height: 150px;
position: relative;
top: 50px;
}


.intro__img{
    box-shadow: var(--bs);
}
.section__subtitle--intro{
    display: inline-block;
}

/* my services */
.my-services{
    background-image: url(comp.jpg);
  background-color: var(--clr-dark); /* Used if the image is unavailable */
  background-blend-mode: multiply; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: var(--clr-light);
  height: 800px; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: Center;
}
.section__title--services{
    color: var(--clr-accent);
    position: relative;
    align-text: center;
}
.section__title--services::after{
    content: " ";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
.my-services{
    margin-bottom: 4em;
}
.my-services{
    max-width: 5000px;
    margin: 0;
}
@media (min-width: 8000px){
    .my-services{
        display: flex;
        max-width: 8000px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .my-services + .my-services{
        margin-left: 2em;

    }
}
/mywork/
.mywork{
       background-image: url(bg2.png);
  background-color: var(--clr-dark); /* Used if the image is unavailable */
  background-blend-mode: multiply; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: var(--clr-light);
  height: 400px; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.section__title{
    color: var(--clr-accent);
    position: relative;
    text-align: center;
}
.section__title::after{
      content: " ";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 2em;
    background: var(--clr-light);
    opacity: 0.25;
}
.mywork{
    margin-bottom: 4em;
}
.mywork{
    max-width: 8000px;
    margin: 2em 0 0;
}
.section__subtitle{
    text-align: justify;
}
@media(min-width: 8000px){
    .mywork{
        display: flex;
        max-width: 8000px;
        margin: 0  auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
     .mywork + .mywork{
        margin-left: 2em;
    }
}
/footer/
.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0; 
    font-size: var(--fs-h3);
}
.footer a {color: inherit}
.footer__link{
    font-weight: var(--fw-bold);

}


.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}
.footer__link:hover{
    text-decoration: underline;

}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;

}
.social-list__item{
    margin: 0.5em;
}
.social-list__link{
    padding: 0.5em;
}
/navigation/
.logo{
    max-width: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav{
    position: relative;
    background: var(--clr-dark);
    color: var(--clr-light);
    box-shadow: 0 0 3em rgba(0,0,0,.15)
    display: block;
   margin: 0 auto;
  
}
.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin: 0;
padding: 0;
}
.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav__link:hover{
    color: var(--clr-accent);
}